# Python Basics & Advanced

In [1]:
print("Hello World !!!")

Hello World !!!

# Basics

1) Datatypes
2) Data Structures
3) Conditional Statements
4) Loops & Loop Statements
5) Functions & Inbuilt Functions

# Advanced

1) OOPS
2) Exception Handling
3) os & open module

# Datatypes

string
integer
float
boolean

In [2]:
fruit = 'banana'

In [3]:
type(fruit)

str

In [4]:
# list of strign assignments

fruit= 'apple'

animal = "cow"

message = ''' 
Hi Everyone

Thank you for enrolling to this course
'''

message2 = """ 

Today we will be covering the following topics

# Basics

1) Datatypes
2) Data Structures
3) Conditional Statements
4) Loops & Loop Statements
5) Functions & Inbuilt Functions

# Advanced

1) OOPS
2) Exception Handling
3) os & open module

"""

In [5]:
# string methods


fruit.capitalize()

'Apple'

In [7]:
fruit.upper()

'APPLE'

In [8]:
fruit.upper().lower()

'apple'

In [10]:
fruit.capitalize().swapcase()

'aPPLE'

In [11]:
fruit.isalpha()

True

In [13]:
message2.isalpha()

False

In [14]:
len(fruit)

5

In [15]:
fruit[3]

'l'

In [16]:
fruit

'apple'

In [17]:
fruit[0]

'a'

In [18]:
fruit[-1]

'e'

In [19]:
fruit[-3]

'p'

In [20]:
fruit[0:3]

'app'

In [22]:
fruit[-3:]

'ple'

### Integer & Float

In [23]:
num_apples = 25

avg_weight = 0.200

In [24]:
type(num_apples)

int

In [25]:
type(avg_weight)

float

In [26]:
total_mass = num_apples * avg_weight

In [27]:
total_mass

5.0

In [28]:
total_mass -  2

3.0

In [32]:
# quotient & remainder of division

In [30]:
25 // 2

12

In [31]:
25 % 2

1

In [33]:
22 % 2

0

In [34]:
25 % 2

1

In [35]:
total_mass.is_integer()

True

In [36]:
# Boolean

In [37]:
check1 = True

check2 = False

In [38]:
type(check1)

bool

In [39]:
# Boolean operators

True and False

True or False

True

# Data structures


list  - LIST ( sequence of items arranged within square brackets & mutable )

tuple - TUPLE ( sequence of items arranged within paranthesis brackets & immutable )

dict  - Dictionary ( collection of items in key-value pair arrangement )

set   - Set ( hashed collection of items )

In [41]:
fruits = ["apple", 'orange' ,'banana', 'papaya','mango']

nonhom_list = [2, 'goat' ,'orange',True, [25,36,'hello world']]

In [42]:
# Methods


fruits.append('dragon-fruit')

In [43]:
fruits

['apple', 'orange', 'banana', 'papaya', 'mango', 'dragon-fruit']

In [44]:
fruits.count('orange')

1

In [45]:
fruits.count('hello world')

0

In [46]:
fruits.insert(3,'custard-apple')

In [47]:
fruits

['apple',
 'orange',
 'banana',
 'custard-apple',
 'papaya',
 'mango',
 'dragon-fruit']

In [48]:
fruits.pop(3)

'custard-apple'

In [49]:
fruits

['apple', 'orange', 'banana', 'papaya', 'mango', 'dragon-fruit']

In [50]:
fruits.remove('mango')

In [51]:
fruits

['apple', 'orange', 'banana', 'papaya', 'dragon-fruit']

In [53]:
# Index based Searches within List


fruits[2]

'banana'

In [54]:
fruits[-2]

'papaya'

In [56]:
# slicing

fruits[0:3]

['apple', 'orange', 'banana']

In [58]:
fruits[-3:]

['banana', 'papaya', 'dragon-fruit']

In [61]:
fruits[::2]

['apple', 'banana', 'dragon-fruit']

In [63]:
fruits_str=" ".join(fruits)

In [64]:
fruits_str

'apple orange banana papaya dragon-fruit'

In [65]:
fruits_str.split(' ')

['apple', 'orange', 'banana', 'papaya', 'dragon-fruit']

In [66]:
# Tuple

metro_cities=('mumbai','delhi','kolkatta','bangalore','chennai')

In [67]:
# methods

metro_cities.count('chennai')

1

In [68]:
metro_cities[3]='Trichy'

TypeError: 'tuple' object does not support item assignment

In [69]:
# Index Based Searches


metro_cities[2]

'kolkatta'

In [70]:
metro_cities[-2]

'bangalore'

In [71]:
metro_cities[0:2]

('mumbai', 'delhi')

In [72]:
metro_cities[-2:]

('bangalore', 'chennai')

In [73]:
list(metro_cities)

['mumbai', 'delhi', 'kolkatta', 'bangalore', 'chennai']

In [74]:
tuple(fruits)

('apple', 'orange', 'banana', 'papaya', 'dragon-fruit')

In [76]:
# Sets

mobile_brands = {'sony','apple','motorola','redmi','apple'}

In [77]:
mobile_brands

{'apple', 'motorola', 'redmi', 'sony'}

In [79]:
# methods

mobile_brands.pop()

'redmi'

In [81]:
mobile_brands.pop()

'apple'

In [82]:
mobile_brands

{'motorola', 'sony'}

In [83]:
mobile_brands.add('apple')

In [84]:
mobile_brands

{'apple', 'motorola', 'sony'}

In [85]:
mobile_brands.remove('motorola')

In [86]:
mobile_brands

{'apple', 'sony'}

In [90]:
mobile_brands

{'apple', 'sony'}

### Dictionary

In [91]:
vehicles = {'road':"car",'water':'ship','air':'jet'}

In [92]:
vehicles['water']

'ship'

In [93]:
vehicles.keys()

dict_keys(['road', 'water', 'air'])

In [94]:
vehicles.values()

dict_values(['car', 'ship', 'jet'])

In [95]:
vehicles.items()

dict_items([('road', 'car'), ('water', 'ship'), ('air', 'jet')])

In [96]:
vehicles['underwater'] = 'submarine'

In [98]:
vehicles

{'road': 'car', 'water': 'ship', 'air': 'jet', 'underwater': 'submarine'}

In [99]:
vehicles['road']='bike'

In [100]:
vehicles

{'road': 'bike', 'water': 'ship', 'air': 'jet', 'underwater': 'submarine'}

In [101]:
## Conditional Statements

In [105]:
num_apples = 264
num_friends = 12

if num_apples % num_friends ==0:

    print('Each friend gets ',num_apples/num_friends,' number of apples')

else:

    print('Apples cannot be distributed evenly')

Each friend gets  22.0  number of apples

In [107]:
num_test = 9

if num_test % 2 ==0:

    print ('number is divisible by 2')

elif num_test % 3 ==0:

    print('number is divisble by 3')

else:

    print('number not divisible by both 2 & 3')

number is divisble by 3

## Loop & Loop statements

In [111]:
# for loop - runs for a defined number of iterations

# while loop - runs till a condition is true

In [110]:
for i in range(100):

    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [112]:
num =  0

while num <100:

    num +=1

    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [113]:
for fruit in fruits:

    print(fruit)

apple
orange
banana
papaya
dragon-fruit

In [115]:
inD=0

while inD <5:

    print(fruits[inD])

    inD+=1

apple
orange
banana
papaya
dragon-fruit

## Loop Statements

continue - Skips to next iteration

pass     - placeholder

break    - terminate the loop

In [119]:
for num in range(20):

    if num % 2 ==0:

        print('number is even:',num)
    
    else:

        pass

number is even: 0
number is even: 2
number is even: 4
number is even: 6
number is even: 8
number is even: 10
number is even: 12
number is even: 14
number is even: 16
number is even: 18

In [122]:
num = 0

while True:

    if num % 2 ==0:

        print('Even Number:',num)

        num+=1

        continue

    else:

        print('Not An EVen Number',num)

        num+=1

    print("Moving to next number")

    
    if num > 20 :

        break

Even Number: 0
Not An EVen Number 1
Moving to next number
Even Number: 2
Not An EVen Number 3
Moving to next number
Even Number: 4
Not An EVen Number 5
Moving to next number
Even Number: 6
Not An EVen Number 7
Moving to next number
Even Number: 8
Not An EVen Number 9
Moving to next number
Even Number: 10
Not An EVen Number 11
Moving to next number
Even Number: 12
Not An EVen Number 13
Moving to next number
Even Number: 14
Not An EVen Number 15
Moving to next number
Even Number: 16
Not An EVen Number 17
Moving to next number
Even Number: 18
Not An EVen Number 19
Moving to next number
Even Number: 20
Not An EVen Number 21
Moving to next number

1) print a right angled triangle using for loop like below

*
**
***
****
*****
******

2) print an equlateral triangle using a while loop

    *
   ***
  *****
 *******
*********

3) create a list of even numbers lesser than 300 using for loop


4) Find the area of the circle with radius r = 25


5) Write a program which is going to find whether a word is palindrome ?

 level
 radar

# Functions & Inbuilt Functions

In [2]:
def PrintHelloWorld():

    print('Hello world')

In [3]:
PrintHelloWorld()

Hello world

In [1]:
def AreaOfCircle(radius):

    'calculates the area of crcle using radius'

    area_of_circle =  3.14 * (radius**2)

    return area_of_circle

In [3]:
r=36

area=AreaOfCircle(radius=r)

In [4]:
area

4069.44

In [1]:
def AreaOfrectangle(length=21,breadth=12):

    area=length*breadth

    return area

In [2]:
AreaOfrectangle(length=5)

60

### Recursive Functions, Args, Kwargs & Decorators

In [4]:
def Factorial(num):

    if num==1:

        return 1
    
    print('number passed:',num)

    op=num * Factorial(num-1)

    print('output calculated:',op)

    return op

In [6]:
Factorial(7)

number passed: 7
number passed: 6
number passed: 5
number passed: 4
number passed: 3
number passed: 2
output calculated: 2
output calculated: 6
output calculated: 24
output calculated: 120
output calculated: 720
output calculated: 5040

5040

In [3]:
print(Factorial(3))

6

In [ ]:
def CalcSum(*args):

    output=sum(args)

    return output

In [ ]:
def CalcSum(*args):

    output=sum(args)

    return output

In [1]:
CalcSum(5,6,7,8)

NameError: name 'CalcSum' is not defined